.App-logo .Island {
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -ms-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
}
.App-logo .Island:hover {
  fill: lightblue;
  stroke-dashoffset: 0;
  stroke-width: 10;
  cursor: pointer;
}

.App-body {
  background: url("../img/Aerethios2.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-position: top left;
}


.App-logo {
  top: 0;
  left: 0;
}